<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yzc.lovehuali" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_LOGS" />

    <!-- BmobPush SDK权限 -->
    <permission android:protectionLevel="normal" android:name="cn.bmob.permission.push"></permission>

    <uses-permission android:name="cn.bmob.permission.push" /> <!-- 添加自定义的权限 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />

    <application
        android:name=".MyApp"
        android:allowBackup="true"
        android:icon="@drawable/app_icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask" >
        </activity>
        <activity
            android:name=".ScreenSplashActivity"
            android:label="@string/title_activity_screen_splash" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SignUpActivity"
            android:label="@string/title_activity_sign_up"
            android:parentActivityName=".LoginActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.yzc.lovehuali.LoginActivity" />
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main"
            android:launchMode="singleTop" >
        </activity>
        <activity
            android:name=".UserInformationActivity"
            android:label="@string/title_activity_user_information"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.yzc.lovehuali.MainActivity" />
        </activity>
        <activity
            android:name=".NewsDetailsActivity"
            android:label="@string/title_activity_news_details" >
        </activity>
        <activity
            android:name=".AboutUsActivity"
            android:label="@string/title_activity_about_us"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.Swipe.Back" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.yzc.lovehuali.MainActivity" />
        </activity>
        <activity
            android:name=".BindingEduSystemActivity"
            android:label="@string/title_activity_binding_edu_system" >
        </activity>
        <activity
            android:name=".QueryStudentScoreActivity"
            android:label="@string/title_activity_query_student_score"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.yzc.lovehuali.MainActivity" />
        </activity>
        <activity
            android:name=".StudentScoreReportActivity"
            android:label="@string/title_activity_student_score_report"
            android:parentActivityName=".QueryStudentScoreActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.yzc.lovehuali.QueryStudentScoreActivity" />
        </activity>
        <activity
            android:name=".LibrarySearchActivity"
            android:label="@string/title_activity_library_search"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.yzc.lovehuali.MainActivity" />
        </activity>
        <activity
            android:name=".SuggestUsActivity"
            android:label="@string/title_activity_suggest_us"
            android:parentActivityName=".MainActivity"
            android:windowSoftInputMode="adjustResize" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.yzc.lovehuali.MainActivity" />
        </activity>
        <activity
            android:name=".getEduSystemSchedulerActivity"
            android:label="@string/title_activity_binding_edu_system" >
        </activity>
        <activity
            android:name=".EditCourseActivity"
            android:label="@string/title_activity_edit_course"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.yzc.lovehuali.MainActivity" />
        </activity>
        <activity
            android:name=".SchoolNoticeActivity"
            android:label="校园通知"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.yzc.lovehuali.MainActivity" />
        </activity>
        <activity
            android:name="com.zjm.library.LibrarySearchActivity"
            android:label="图书馆" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.yzc.lovehuali.MainActivity" />
        </activity>
        <activity
            android:name="com.zjm.library.BookListActivity"
            android:label="图书列表" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.zjm.library.LibrarySearchActivity" />
        </activity>
        <activity
            android:name="com.zjm.library.BookCollectionActivity"
            android:label="图书收藏">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.zjm.library.LibrarySearchActivity" />
        </activity>
        <activity
            android:name="com.zjm.library.BookDetailActivity"
            android:label="图书详情" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.zjm.library.BookListActivity" />
        </activity>
        <activity
            android:name=".New_Student_Activity"
            android:label="新生指南"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.yzc.lovehuali.MainActivity" />
        </activity>
        <activity
            android:name=".New_Student_Second_Activity"
            android:label="新生指南"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.yzc.lovehuali.MainActivity" />
        </activity>
        <activity
            android:name=".FragmentContainerActivity"
            android:label="碎片容器"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.yzc.lovehuali.MainActivity" />
        </activity>

        <activity
            android:name=".OnlineRepairActivity"
            android:label="@string/title_activity_online_repair"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppThemeBlack">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.yzc.lovehuali.MainActivity" />
        </activity>

        <service
            android:name="cn.bmob.push.lib.service.PushService"
            android:exported="true"
            android:label="PushService"
            android:permission="cn.bmob.permission.push"
            android:process="cn.bmob.push" >
            <intent-filter>
                <action android:name="cn.bmob.push.lib.service.PushService" />
            </intent-filter>
        </service>

        <receiver android:name="cn.bmob.push.PushReceiver" >
            <intent-filter android:priority="2147483647" > <!-- 优先级加最高 -->
                <!-- 系统启动完成后会调用 -->
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <!-- 解锁完成后会调用 -->
                <action android:name="android.intent.action.USER_PRESENT" />
                <!-- 监听网络连通性 -->
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.yzc.lovehuali.MyPushMessageReceiver"
            android:enabled="true"
            android:exported="true" >
            <intent-filter>
                <action android:name="cn.bmob.push.action.MESSAGE" />
            </intent-filter>
        </receiver>
    </application>

</manifest>
